.project-list.infrastructure-list
  .project-list__title 28 объектов найдено
  .project-list__content.infrastructure-list__content
    .project-list__item.infrastructure-list__item
      img(src=require('media/static/icons/children.svg')) 
      .infrastructure-list__item__content.project-list__item__content
        p детский сады
        span 3

    .project-list__item.infrastructure-list__item
      img(src=require('media/static/icons/school.svg')) 
      .infrastructure-list__item__content.project-list__item__content
        p образование
        span 2

    .project-list__item.infrastructure-list__item.infrastructure-list__item_active
      img(src=require('media/static/icons/cafe.svg')) 
      .infrastructure-list__item__content.project-list__item__content
        p рестораны и кафе
        span 12

    .project-list__item.infrastructure-list__item
      img(src=require('media/static/icons/health.svg')) 
      .infrastructure-list__item__content.project-list__item__content
        p Медицина
        span 4
    .project-list__item.infrastructure-list__item
      img(src=require('media/static/icons/shop.svg')) 
      .infrastructure-list__item__content.project-list__item__content
        p шоппинг
        span 2
    .project-list__item.infrastructure-list__item.infrastructure-list__item_active
      img(src=require('media/static/icons/sport.svg'))  
      .infrastructure-list__item__content.project-list__item__content
        p Спорт
        span 5
  .project-list__bottom.infrastructure-list__bottom 
    a(href='') сбросить все
      img(src=require('media/static/icons/update/update_black.svg')).white 
      img(src=require('media/static/icons/update/update_blue.svg')).blue 
