.project-list
  .project-list__title 15 проектов найдено
  .project-list__content
    .project-list__item
      .project-list__item__image
        img(src=require('media/content/content_2.webp'))
      .project-list__item__content
        .project-list__item__title жк волково
        .project-list__item__text Ростов-на-Дону, мкр. Северный, ул. Волкова, 39

    .project-list__item
      .project-list__item__image
        img(src=require('media/content/content_22.webp'))
      .project-list__item__content
        .project-list__item__title складское помещение
        .project-list__item__text Курск, ул. Видова, 121а

    .project-list__item
      .project-list__item__image
        img(src=require('media/content/content_23.webp'))
      .project-list__item__content
        .project-list__item__title жк азимут
        .project-list__item__text Ростов-на-Дону, мкр. Северный, ул. Волкова, 39

    .project-list__item
      .project-list__item__image
        img(src=require('media/content/content_24.webp'))
      .project-list__item__content
        .project-list__item__title жк меридиан
        .project-list__item__text Казань, Оренбургский тракт, 8

    .project-list__item
      .project-list__item__image
        img(src=require('media/content/content_23.webp'))
      .project-list__item__content
        .project-list__item__title жк северный
        .project-list__item__text Ростов-на-Дону, мкр. Северный, ул. Волкова, 39
    .project-list__item
      .project-list__item__image
        img(src=require('media/content/content_23.webp'))
      .project-list__item__content
        .project-list__item__title жк северный
        .project-list__item__text Ростов-на-Дону, мкр. Северный, ул. Волкова, 39
  
  .project-list__bottom
    a(href='') смотреть все
      img(src=require('media/static/icons/arrow/arrow_short_blue.svg')) 
