-
  var list = [
    {
      img: require('media/content/content_2.webp'),
      name: 'жк волково',
      address: 'Ростов-на-Дону, мкр. Северный, ул. Волкова, 39',
      coords: '59.1821, 50.9912',
      type: '2',
      category: '1',
      stage: '2',
      price: '4600000',
      date: 'март 2023',
      link: '/'
    },
    {
      img: require('media/content/content_22.webp'),
      name: 'складское помещение',
      address: 'Курск, ул. Видова, 121а',
      coords: '54.3249,38.0668',
      type: '4',
      category: '2',
      stage: '1',
      price: '4600000',
      date: 'март 2023',
      link: '/'
    },
    {
      img: require('media/content/content_23.webp'),
      name: 'жк азимут',
      address: 'Ростов-на-Дону, мкр. Северный, ул. Волкова, 39',
      coords: '58.7844,39.8346',
      type: '2',
      category: '1',
      stage: '1',
      price: '4600000',
      date: 'март 2023',
      link: '/'
    },
    {
      img: require('media/content/content_24.webp'),
      name: 'жк меридиан',
      address: 'Казань, Оренбургский тракт, 8',
      coords: '59.1851, 40.7953',
      type: '2',
      category: '1',
      stage: '2',
      price: '4600000',
      date: 'март 2023',
      link: '/'
    },
    {
      img: require('media/content/content_23.webp'),
      name: 'жк северный',
      address: 'Ростов-на-Дону, мкр. Северный, ул. Волкова, 39',
      coords: '56.3622, 38.0040',
      type: '1',
      category: '1',
      stage: '3',
      price: '4600000',
      date: 'март 2023',
      link: '/'
    },
    {
      img: require('media/content/content_23.webp'),
      name: 'жк северный',
      address: 'Ростов-на-Дону, мкр. Северный, ул. Волкова, 39',
      coords: '56.7538, 45.2803',
      type: '3',
      category: '1',
      stage: '4',
      price: '4600000',
      date: 'март 2023',
      link: '/'
    },
  ]

.project-list(data-mark-icon=require('media/static/map-mark.png'))
  .project-list__title
  .project-list__content(data-lenis-prevent)
    each project in list
      .project-list__item(
        data-type=project.type,
        data-name=project.name
        data-address=project.address
        data-coords=project.coords,
        data-category=project.category,
        data-stage=project.stage,
        data-img=project.img
        data-price=project.price
        data-date=project.date
        data-link=project.link
      )
        .project-list__item__image
          img(src=project.img)
        .project-list__item__content
          .project-list__item__title= project.name
          .project-list__item__text= project.address
  a.project-list__bottom(href='') смотреть все
    img(src=require('media/static/icons/arrow/arrow_short_blue.svg')) 
