.filter.project__filter
  .filter__content.filter_border
    .filter__left
      include global/components/ui/quickFilter/template
      +dropdown("Тип недвижимости").filter__dropdown
        ul.dropdown__list
          li.dropdown__list__item ТРК
          li.dropdown__list__item Жилищные комплексы
          li.dropdown__list__item Промышленные объекты
          li.dropdown__list__item Склады
      +dropdown("Стадия постройки").filter__dropdown
        ul.dropdown__list
          li.dropdown__list__item ТРК
          li.dropdown__list__item Жилищные комплексы
          li.dropdown__list__item Промышленные объекты
          li.dropdown__list__item Склады
      .filter__founded 15 проектов найдено
    .filter__right
      span.active плиткой
      .button-switch
        .button-switch__mark
      span на карте
  .filter__selected
    .filter__selected__right
      .badge.badge_blue Жилищный комплекс
        img(src=require('media/static/icons/close/close_white.svg'))
      .badge.badge_blue коммерческая недвижимость
        img(src=require('media/static/icons/close/close_white.svg'))
    .filter__selected__reset Сбросить фильтры
      img(src=require('media/static/icons/update/update_white.svg'))
.project__list
  .project__list__row
    .project__list__item
      .project__list__item__content
        .project__list__item__header
          .project__list__item__badges
            .badge.badge_dark Объект сдан
            .badge.badge_white Жилищный комплекс
          .price-badge От 4 600 000 ₽
        .project__list__item__bottom
          .project__list__item__title ЖК Волково
          .project__list__item__text Ростов-на-Дону, мкр. Северный, ул. Волкова, 39
      .project__list__item__image
        img(src=require('media/content/content_4.webp'))
    .project__list__item
      .project__list__item__content
        .project__list__item__header
          .project__list__item__badges
            .badge.badge_dark
              img(src=require('media/static/icons/timer.svg'))
              span март 2023
            .badge.badge_white Жилищный комплекс
          .price-badge От 6 600 000 ₽
        .project__list__item__bottom
          .project__list__item__title ЖК азимут
          .project__list__item__text краснодар, ул. минина, 26
      .project__list__item__image
        img(src=require('media/content/content_4.webp'))
  .project__list__row
    .project__list__item
      .project__list__item__content
        .project__list__item__header
          .project__list__item__badges
            .badge.badge_dark
              img(src=require('media/static/icons/timer.svg'))
              span март 2023
            .badge.badge_white Жилищный комплекс
          .price-badge От 4 200 000 ₽
        .project__list__item__bottom
          .project__list__item__title ЖК журавли
          .project__list__item__text ростов-на-дону, ул. пушкина, 14
      .project__list__item__image
        img(src=require('media/content/content_4.webp'))
    .project__list__item
      .project__list__item__content
        .project__list__item__header
          .project__list__item__badges
            .badge.badge_dark
              img(src=require('media/static/icons/timer.svg'))
              span март 2023
            .badge.badge_white коммерция
          .price-badge ООт 5 000 000 ₽
        .project__list__item__bottom
          .project__list__item__title европейский квартал
          .project__list__item__text волгоград, мкр. южный, пр-кт. маршала жукова, 39
      .project__list__item__image
        img(src=require('media/content/content_4.webp'))
