.contact-form#contact-form
  .contact-form__bg
  .contact-form__content
    .contact-form__title Оставьте заявку<br/>на консультацию
    form(action='')
      .contact-form__list
        .contact-form__container
          label(for="customer_name")
            input.contact-form__input(name='customer_name', id='customer_name')
            span(class="contact-form__error") Введите имя
            span(class="span") Ваше имя*
            img(src=require("media/static/icons/close/close_white.svg"), class="reset-input")
        .contact-form__container
          label(for="customer_phone")
            input.contact-form__input(name='customer_phone', id='customer_phone', maxlength=16, required)
            span(class="contact-form__error") Введите телефон
            span(class="span") телефон*
            img(src=require("media/static/icons/close/close_white.svg"), class="reset-input")
        .contact-form__container
          label(for="customer_mail")
            input.contact-form__input(name='customer_mail', id='customer_mail')
            span(class="contact-form__error") Введите e-mail
            span(class="span") почта
            img(src=require("media/static/icons/close/close_white.svg"), class="reset-input")
        .contact-form__container
          label(for="customer_comment")
            textarea.contact-form__input.contact-form__textarea(name='customer_comment', id='customer_comment')
            span(class="span") комментарий
            img(src=require("media/static/icons/close/close_white.svg"), class="reset-input")
      .contact-form__bottom
        button.button.button_white( data-popup='request-accept', data-action='popup') отправить
        .contact-form__bottom__text
          p Нажимая кнопку «Отправить», вы соглашаетесь с
          a(href) политикой конфиденциальности
footer.footer
  .footer__title: span ВЕРТИКАЛЬ
  .footer__content
    .footer__line
    img.footer__logo(src=require('media/static/icons/vertical/vertical_logo_column.svg'))
    .footer__content__middle
      p 8 (800) 580-98-59
      span Ростов-на-Дону, проспект Сиверса, 1
      span Пн-Пт, 09:00-18:00
    ul.footer__link
      li.footer__link__item
        a(href="#") Каталог объектов
      li.footer__link__item
        a(href="#") О компании
      li.footer__link__item
        a(href="#") Блог
      li.footer__link__item
        a(href="#") Контакты
    .footer__line
  .footer__bottom © OOO «ВЕРТИКАЛЬ», 2023
    a(href="#") Политика конфиденциальности
    a(href="#") Сайт разработан: Акцент на результат
include global/features/popup/template
+popup('request-accept', "request-accept")
  button.button-close.close-btn(data-action="close-popup")
    img(src = require("media/static/icons/close/close_white.svg"))
  .request-accept__text-block
    .request-accept__title Заявка успешно отправлена!
    .request-accept__text Мы получили ваш запрос, менеджер свяжется с вами в течение 2-х рабочих дней
  .button.button_white отлично
include global/components/pageBlocks/filterPopup/template