.partners
  .container_left
    .title.title_white
      span партнеры
    div
      .partners__title Наши партнеры имеют многолетний опыт работы и авторитет на рынке недвижимости
  .partners__list
    .partners__desktop
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/donstroy.svg'))
      .border.border__top
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/sberbank.svg'))
      .border.border__top
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/fsk.svg'))
      .border.border__top
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/gazprombank.svg'))
      .border.border__top
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/megafon.svg'))
      .partners__desktop__line
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/akbars.svg'))
      .border.border__bottom
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/vtb.svg'))
      .border.border__bottom
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/sdek.svg'))
      .border.border__bottom
      .partners__desktop__container
        img.partners__desktop__img(src=require('media/static/icons/partners_logo/mir.svg'))
      .border.border__bottom
    .partners__row
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/donstroy.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/sberbank.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/fsk.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/gazprombank.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/megafon.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/akbars.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/vtb.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/sdek.svg'))
      .partners__row__image
        img(src=require('media/static/icons/partners_logo/mir.svg'))
