.blog
    .container_left
        .title.title_gray.container_left__side
            span блог
        div
            .blog__header
                .blog__title дельные статьи<br>и новости
                .blog__button.button.button_gray смотреть все
                    img(src=require('media/static/icons/arrow/arrow_short.svg'))
            .blog__content
                .news-card
                    .news-card__line
                    .news-card__image
                        img(src=require('media/content/content_2.webp'))
                    .news-card__content
                        .news-card__content__text
                            .news-card__title: span Использование материнского капитала для квартиры
                            .news-card__text Одной из важнейших характеристик деятельности ГК является социальная ответственность...
                        .news-card__date
                            p 17
                            span июня
                .news-card
                    .news-card__line
                    .news-card__image
                        img(src=require('media/content/content_2.webp'))
                    .news-card__content
                        .news-card__content__text
                            .news-card__title: span Использование материнского капитала для квартиры
                            .news-card__text Одной из важнейших характеристик деятельности ГК является социальная ответственность...
                        .news-card__date
                            p 15
                            span июня
                .button.button_circle.blog__more.button_circle_black ещё
            .seo-block
                .seo-block__title SEO TEXT
                .seo-block__text
                    p Одной из важнейших характеристик деятельности ГК является социальная ответственность. Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей, а расположенные на первых этажах коммерческие объекты — предоставить место для работы сотрудникам десятков организаций. Главная цель компании — сделать возможность купить квартиру от застройщика доступной максимальному количеству людей. Сорбция, несмотря на внешние воздействия, поступательно возникает лесной
                    p Одной из важнейших характеристик деятельности ГК является социальная ответственность. Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей, а расположенные на первых этажах коммерческие объекты — предоставить место для работы сотрудникам десятков организаций. Главная цель компании — сделать возможность купить квартиру от застройщика доступной максимальному количеству людей. Сорбция, несмотря на внешние воздействия, поступательно возникает лесной
                .seo-block__expand развернуть
                    img(src=require('media/static/icons/arrow/arrow_small_blue_down.svg'))
                    img(src=require('media/static/icons/triangle/triangle_blue_right.svg'))