extends layout/page

block append main
  +header.header_border
  .about-header
    .about-header__content
      ul.breadcrumb
        li.breadcrumb__item главная
        li.breadcrumb__item.breadcrumb__item_active о компании
      .about-header__title ВЕРТИКАЛЬ
      .about-header__bottom
        .about-header__text ГК Вертикаль успешно работает с 2005 года и является одним из лидеров в девелопменте жилой и коммерческой недвижимости
        button(data-action="scroll").arrow-button.arrow-button_down.arrow-button_gray
    .about-header__image
      img(src=require('media/static/about_company_lead.webp'))
  include global/components/pageBlocks/aboutCompany/template
  +about-company
    .button.button_gray
      span строительство жилых зданий
      span строительство
    .button.button_gray продажа квартир
  .company-worth
    .company-worth__content
      .company-worth__title ценности нашей компании
      .company-worth__list
        .company-worth__item
          .company-worth__item__title Миссия компании
          img.company-worth__item__image(src=require('media/static/icons/company_worth/circles.svg'))
          .company-worth__item__text Мы улучшаем качество жизни. Создаем пространство для комфорта детей и взрослых.
        .company-worth__item
          .company-worth__item__title клиентский сервис
          img.company-worth__item__image(src=require('media/static/icons/company_worth/triangles.svg'))
          .company-worth__item__text В нашей компании работают люди, которые ценят комфорт и высокий сервис обслуживания. Мы заботимся о том, чтобы вам было легко с нами на каждом этапе сотрудничества.
        .company-worth__item
          .company-worth__item__title креативный подход
          img.company-worth__item__image(src=require('media/static/icons/company_worth/polygons.svg'))
          .company-worth__item__text Наша компания - один из лидеров на рынке городской и загородной недвижимости. Сегодня у нас в стадии проектирования - несколько многоэтажных жилых комплексов.
    .company-worth__image
      img(src=require('media/static/company_value_bg.webp'))
  .company-main
    .history
      .container_left
        .title.title_white
          span история
        div
          .history__title
    .container_left.history__content__wrapper
      div.history__left-btn
        .arrow-button.arrow-button_left.arrow-button_large.history__nav
      div.history__content
        .history__view
          .history__swiper.swiper: .swiper-wrapper
            div(data-year="2001" data-title="Торжественное открытие нашего первого офиса").swiper-slide.history__slide
              img(src=require('media/content/content_12.webp'))
            div(data-year="2007" data-title="Торжественное открытие нашего второго офиса").swiper-slide.history__slide
              img(src=require('media/content/content_11.webp'))
            div(data-year="2014" data-title="Торжественное открытие нашего третьего офиса").swiper-slide.history__slide
              img(src=require('media/content/content_12.webp'))
          .arrow-button.arrow-button_right.arrow-button_large.history__nav
        .history__year-view__wrapper
          .history__year-view
            .history__year-view__year 2008
            .history__year-view__scale
              .history__year-view__scale__edge
                p 2005
                p 2023
              img.history__year-view__scale__image(src=require('media/static/icons/scale.svg'))

    include global/components/pageBlocks/ourProject/template
    .about-project-list
      .filter.filter_border
        .filter__content
          .filter__left
            include global/components/ui/quickFilter/template
            +dropdown("Тип недвижимости").filter__dropdown
              ul.dropdown__list
                li.dropdown__list__item ТРК
                li.dropdown__list__item Жилищные комплексы
                li.dropdown__list__item Промышленные объекты
                li.dropdown__list__item Склады
            +dropdown("Стадия постройки").filter__dropdown
              ul.dropdown__list
                li.dropdown__list__item ТРК
                li.dropdown__list__item Жилищные комплексы
                li.dropdown__list__item Промышленные объекты
                li.dropdown__list__item Склады
          .filter__right
            span.active плиткой
            .button-switch
              .button-switch__mark
            span на карте
        .filter__content__mobile
          .filter__button
            span фильтр
            img(src=require('media/static/icons/filter/filter_white.svg'))
          .filter__button(data-popup='project-popup', data-action='popup')
            span на карте
            img(src=require('media/static/icons/location.svg'))

      include global/components/pageBlocks/projectsList/template

      .project__wrapper-button
        .button.button_circle.project__button
          span показать ещё
          span ещё
  .awards
    .container_left
      .title.title_gray
        span награды
      .awards__content
        .awards__title достижения, награды и премии
        .awards__table__header
          .awards__table__header__item награда
          .awards__table__header__item проект
          .awards__table__header__item площадка
        .awards__table__row
          .awards__table__item Move Realty Awards 2023
          .awards__table__item ЖК Волково
          .awards__table__item
            img(src = require("media/content/icons/urban_awards.svg"))
        .awards__table__row
          .awards__table__item Move Realty Awards 2023
          .awards__table__item ЖК Волково
          .awards__table__item
            img(src = require("media/content/icons/urban_awards.svg"))
        .awards__table__row
          .awards__table__item Move Realty Awards 2023
          .awards__table__item ЖК Волково
          .awards__table__item
            img(src = require("media/content/icons/urban_awards.svg"))
        .awards__table__row
          .awards__table__item Move Realty Awards 2023
          .awards__table__item ЖК Волково
          .awards__table__item
            img(src = require("media/content/icons/urban_awards.svg"))
