extends layout/page

block append main
  +header

  include pages/index/sections/hero-index/template
  include global/components/pageBlocks/aboutCompany/template
  +about-company
    .button.button_gray о компании
      img(src=require('media/static/icons/arrow/arrow_short.svg'))
  .offer
    .offer__body
      .offer__title почувствуйте удобство
      .offer__text-block
        .offer__text
          | очень любим нашу работу, подходим к ней творчески и делаем
          | её с удовольствием! Вы обязательно это почувствуете,
          | доверив нам обстановку вашего дома
        .offer__pagination
    .offer__slides
      each i in Array(3)
        .offer__slide: img(src=require('media/content/index_slider_1.webp'))

  .blue-section
    include global/components/pageBlocks/ourProject/template

    .filter.building-filter
      .filter__content
        .filter__left
          include global/components/ui/quickFilter/template
          +dropdown("Тип недвижимости")(data-name="type").filter__dropdown
            .dropdown__list
              button(data-id="1").dropdown__list__item ТРК
              button(data-id="2").dropdown__list__item Жилищные комплексы
              button(data-id="3").dropdown__list__item Промышленные объекты
              button(data-id="4").dropdown__list__item Склады
              button.dropdown__list__item.filter__dropdown_reset Сбросить фильтры
          +dropdown("Стадия постройки")(data-name="stage").filter__dropdown
            .dropdown__list
              button(data-id="1").dropdown__list__item ТРК
              button(data-id="2").dropdown__list__item Жилищные комплексы
              button(data-id="3").dropdown__list__item Промышленные объекты
              button.dropdown__list__item.filter__dropdown_reset Сбросить фильтры
        .filter__right
          span.active плиткой
          .button-switch
            .button-switch__mark
          span на карте
      .filter__content__mobile
        button.filter__button(data-action="popup" data-popup="filter-popup")
          span фильтр
          img(src=require('media/static/icons/filter/filter_white.svg'))
        button.filter__button(data-action="map")
          span на карте
          img(src=require('media/static/icons/location.svg'))
    .map-block
      .map
        button.button-close(data-action="map")
        .map__mobile-buttons
          button.filter__button(data-action="popup" data-popup="filter-popup")
            span фильтр
            img(src=require('media/static/icons/filter/filter_gray.svg'))
          button.filter__button(data-action="map")
            span списком
            img(src=require('media/static/icons/list.svg'))
        .map__content
          include global/components/pageBlocks/map/projectList
          //- include global/components/pageBlocks/map/projectCard
          //- include global/components/pageBlocks/map/infrastructureList
        .map__view
      .map-block__project-list
        include global/components/pageBlocks/projectsList/template
        .project__wrapper-button
          .button.button_circle.project__button ещё
    include pages/index/sections/partners/template
  include global/components/pageBlocks/blog/template
