extends layout/page

block append head
  link(href=require('pages/index/index.scss'), rel='stylesheet')

block append main
  include global/layout/general/header/template
  .lead-section 
    .lead-section__title ВЕРТИКАЛЬ
    .lead-section__page 
      img(src=require("media/static/icons/arrow/arrow_small.svg")).page-viewer__left
      .page-viewer
        svg.page-viewer__progress
          <path id="progress" fill="none" stroke="#fff" stroke-width="2" />
        svg.page-viewer__progress-bg 
          <circle cx="65" cy="65" r="63" fill="none" stroke-width="2" stroke="rgba(255, 255, 255, 0.2)"/>
        .page-viewer__page 
          span 6
          p 2
      img(src=require("media/static/icons/arrow/arrow_small.svg")).page-viewer__right
    .lead-section__swiper.swiper: .swiper-wrapper 
      each i, index in Array(4)
        .swiper-slide.lead-section__slide
          .lead-section__slide__image
            img(src=require("media/static/lead_image.webp"))
          .lead-section__slide__content 
            .lead-section__slide__text= `Строим для людей с 200${index} года`
            .lead-section__slide__title ИНВЕСТИции В НЕДВИЖИМОСТЬ С ГК ВЕРТИКАЛЬ
            .lead-section__slide__button.button.button_white Подробнее о компании
              img(src=require("media/static/icons/arrow/arrow_short.svg"))
  
  include global/components/pageBlocks/aboutCompany/template
  include global/components/pageBlocks/filter/template
  

block append scripts
  script(src=require('pages/index/index.ts'))
