extends layout/page

block append main
  include global/layout/general/header/template

  +header

  .lead-section
    .lead-section__title.logo-title
      img(src=require('media/static/icons/vertical_text.svg'))
    .page-viewer
      img.page-viewer__left(src=require('media/static/icons/arrow/arrow_small.svg'))
      .page-viewer__content
        svg.page-viewer__progress
          <path id="progress" fill="none" stroke="#fff" stroke-width="2" />
        svg.page-viewer__progress-bg
          <circle cx="65" cy="65" r="63" fill="none" stroke-width="2" stroke="rgba(255, 255, 255, 0.2)"/>
        .page-viewer__page
          span 6
          p 2
      img.page-viewer__right(src=require('media/static/icons/arrow/arrow_small.svg'))
    .lead-section__mobile__page-list
      svg.lead-section__mobile__page
        <path id="progress" fill="none" stroke="#fff" stroke-width="3.5" />

    .lead-section__swiper.swiper: .swiper-wrapper
      each i, index in Array(7)
        .swiper-slide.lead-section__slide
          .lead-section__slide__image
            img(src=require('media/static/lead_image.webp'))
          .lead-section__slide__content
            .lead-section__slide__text
              span= `Строим для людей с 200${index} года`
            .lead-section__slide__title ИНВЕСТИции В НЕДВИЖИМОСТЬ С ГК ВЕРТИКАЛЬ
            .lead-section__slide__button.button.button_white Подробнее о компании
              img(src=require('media/static/icons/arrow/arrow_short.svg'))
  include global/components/pageBlocks/aboutCompany/template
  +about-company
    .button.button_gray о компании
      img(src=require('media/static/icons/arrow/arrow_short.svg'))
  .offer
    .swiper.offer__swiper: .swiper-wrapper
      each i in Array(3)
        .swiper-slide.offer__slide
          .offer__title почувствуйте удобство
          .offer__text очень любим нашу работу, подходим к ней творчески и делаем её с удовольствием! Вы обязательно это почувствуете, доверив нам обстановку вашего дома
          .offer__image
            img(src=require('media/content/index_slider_1.webp'))
    .offer__pagination

  .blue-section
    include global/components/pageBlocks/ourProject/template

    .filter.building-filter
      .filter__content
        .filter__left
          include global/components/ui/quickFilter/template
          +dropdown("Тип недвижимости").filter__dropdown
            ul.dropdown__list
              li.dropdown__list__item ТРК
              li.dropdown__list__item.filter__dropdown_active Жилищные комплексы
              li.dropdown__list__item Промышленные объекты
              li.dropdown__list__item Склады
              li.dropdown__list__item.filter__dropdown_reset Сбросить фильтры
          +dropdown("Стадия постройки").filter__dropdown
            ul.dropdown__list
              li.dropdown__list__item ТРК
              li.dropdown__list__item Жилищные комплексы
              li.dropdown__list__item Промышленные объекты
              li.dropdown__list__item.filter__dropdown_reset Сбросить фильтры
        .filter__right
          span.active плиткой
          .button-switch
            .button-switch__mark
          span на карте
      .filter__content__mobile
        .filter__button
          span фильтр
          img(src=require('media/static/icons/filter/filter_white.svg'))
        .filter__button(data-popup='project-popup', data-action='popup')
          span на карте
          img(src=require('media/static/icons/location.svg'))
    .map-block
      .map
        .map__content
          include global/components/pageBlocks/map/projectList
          //- include global/components/pageBlocks/map/projectCard
          //- include global/components/pageBlocks/map/infrastructureList
        .map__view
      .map-block__project-list
        include global/components/pageBlocks/projectsList/template
        .project__wrapper-button
          .button.button_circle.project__button ещё
    .partners
      .container_left
        .title.title_white
          span партнеры
        div
          .partners__title Наши партнеры имеют многолетний опыт работы и авторитет на рынке недвижимости
      .partners__list
        .partners__desktop
          img(src = require('media/static/icons/partners_section.svg'))
        .partners__row
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/donstroy.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/sberbank.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/fsk.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/gazprombank.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/megafon.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/akbars.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/vtb.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/sdek.svg'))
          .partners__row__image
            img(src=require('media/static/icons/partners_logo/mir.svg'))

  .blog
    .container_left
      .title.title_gray.container_left__side
        span блог
      div
        .blog__header
          .blog__title дельные статьи и новости
          .blog__button.button.button_gray смотреть все
            img(src=require('media/static/icons/arrow/arrow_short.svg'))
        .blog__content
          .news-card
            .news-card__image
              img(src=require('media/content/content_2.webp'))
            .news-card__content
              .news-card__content__text
                .news-card__title Использование материнского капитала для квартиры
                .news-card__text Одной из важнейших характеристик деятельности ГК является социальная ответственность...
              .news-card__date
                p 17
                span июня
          .news-card
            .news-card__image
              img(src=require('media/content/content_2.webp'))
            .news-card__content
              .news-card__content__text
                .news-card__title Использование материнского капитала для квартиры
                .news-card__text Одной из важнейших характеристик деятельности ГК является социальная ответственность...
              .news-card__date
                p 15
                span июня
          .button.button_circle.blog__more.button_circle_black ещё
        .seo-block
          .seo-block__title SEO TEXT
          .seo-block__text
            p Одной из важнейших характеристик деятельности ГК является социальная ответственность. Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей, а расположенные на первых этажах коммерческие объекты — предоставить место для работы сотрудникам десятков организаций. Главная цель компании — сделать возможность купить квартиру от застройщика доступной максимальному количеству людей. Сорбция, несмотря на внешние воздействия, поступательно возникает лесной
            p Одной из важнейших характеристик деятельности ГК является социальная ответственность. Компания «Вертикаль» продолжает социальную линию группы: новостройки способны обеспечить жильем сотни семей, а расположенные на первых этажах коммерческие объекты — предоставить место для работы сотрудникам десятков организаций. Главная цель компании — сделать возможность купить квартиру от застройщика доступной максимальному количеству людей. Сорбция, несмотря на внешние воздействия, поступательно возникает лесной
          .seo-block__expand развернуть
            img(src=require('media/static/icons/arrow/arrow_small_blue_down.svg'))
            img(src=require('media/static/icons/triangle/triangle_blue_right.svg'))
  include global/components/pageBlocks/map/popup/mapPopup
  include global/components/pageBlocks/map/popup/projectPopup
