extends layout/page

block append popup
  include global/components/pageBlocks/seoPopup/template

block append main
  +header.header_border
  .project-header
    .project-header__content
      ul.breadcrumb
        li.breadcrumb__item главная
        li.breadcrumb__item проекты
        li.breadcrumb__item.breadcrumb__item_active жк волково
      .project-header__bottom
        .project-header__title жк волково
        .project-header__actions
          .button.button_white сайт проекта
            img(src=require('media/static/icons/arrow/arrow_short.svg'))
            .button.button_white.button_animate сайт проекта
              img(src=require('media/static/icons/arrow/arrow_short.svg'))
          button.project-header__actions__item
            img(src=require('media/static/icons/location.svg'))
            span смотреть на карте
            span на карте
        .project-header__list__wrapper
          ul.project-header__list
            li.project-header_address.project-header__list__item краснодар, мкр. Северный, ул. Волкова, 39
            li.project-header_date.project-header__list__item дата сдачи объекта, сентябрь 2023 год
            li.project-header_type.project-header__list__item Жилищный комплекс
            li.project-header_.project-header__list__item.price-badge От 4 600 000 ₽
    .project-header__image
      img(src=require('media/content/content_4.webp'))

  .idea
    .title.title_gray.idea__subtitle о проекте
    .idea__title ИДЕЯ ПРОЕКТА
    .idea__content
      .idea__content__image
        .idea__left
          img(src=require('media/static/project_1.webp'))
        .idea__middle
          img(src=require('media/static/project_2.webp'))
      .idea__right
        ul.idea__list
          li.idea__list__item
            span Стандарт качества
            p Комфорт
          li.idea__list__item
            span Высота домов
            p 17 этажей
          li.idea__list__item
            span Количество домов
            p 5 домов
          li.idea__list__item
            span Количество квартир
            p 852 квартиры
          li.idea__list__item
            span Площадь квартир
            p 21.59 – 96.76 м²
          li.idea__list__item
            span Стоимость квартир
            p 2,5 МЛН - 4,5 МЛН ₽
          li.idea__list__item
            span Доходность жилья
            p 9% годовых
    .container_left.quote
      img.quote__quotation(src=require('media/static/icons/quote.svg'))
      div
        .quote__title Вдохновляться закатами из окна, дышать чистым воздухом и не терять время на дорогу — это ваша жизнь в ЖК Волкова
  .gallery
    .gallery__title.title.title_white галерея
    .gallery__swiper.swiper: .swiper-wrapper
      each i in Array(5)
        .swiper-slide.gallery__slide
          img(src=require('media/content/content_9.webp'))
    .slider-pagination
  .location
    .container_left
      .title.title_white
        span локация
      div
        .location__title
          span удобная и развитая инфраструктура
          span всё нужное рядом
    .map(id="location")
      .map__content
        include global/components/pageBlocks/map/infrastructureList
      .map__view
      .button.button_white.map__button(data-action="popup" data-popup="filter-popup")
        span фильтр
        img(src = require("media/static/icons/filter/filter_gray.svg"))
    .benefits.benefits_white
      .benefits__item
        .benefits__number.benefits__number__first
          p 2,5
          span тыс. м2
        .benefits__text.benefits__text__first общая площадь благоустройства комплекса

      .benefits__item
        .benefits__number.benefits__number__second
          p 5
          span домов
        .benefits__text.benefits__text__second уже сдано в эксплуатацию

      .benefits__item
        .benefits__number.benefits__number__third
          p 79
          span тыс. м2
        .benefits__text.benefits__text__third общая площадь жилого комплекса
  .offer
    .offer__body
      .offer__title почувствуйте удобство
      .offer__text-block
        .offer__text
          | очень любим нашу работу, подходим к ней творчески и делаем
          | её с удовольствием! Вы обязательно это почувствуете,
          | доверив нам обстановку вашего дома
        .offer__pagination
    .offer__slides
      each i in Array(3)
        .offer__slide: img(src=require('media/content/content_10.webp'))
  .building-summary
    .title.title_gray.building-summary__subtitle ход строительства
    .building-summary__title ОТЧЁТ СТРОЙКИ
    .building-summary__content
      .building-summary__status
        .building-summary__progress-indicator
        svg.building-summary__progress-indicator-bg
          <circle cx="120" cy="120" r="118" fill="none" stroke-width="2" stroke="#2E2E2E"/>
        .building-summary__progress
          p 68%
          span ход строительства
      .building-summary__gallery(data-action="popup" data-popup="gallery-popup")
        .building-summary__gallery__content
          .building-summary__gallery__view
            img(src=require('media/static/icons/eye.svg'))
          .building-summary__gallery__title ДЕКАБРЬ
          .building-summary__gallery__text 1 квартал 2023 / 12 фото
        .building-summary__image
          img(src=require('media/static/builders.webp'))
      input.building-summary__month-list__all-show#month-list__all-show(type='checkbox')
      ul.building-summary__month-list
        li.building-summary__month-list__item
          span Январь, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Февраль, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Март, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Апрель, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Май, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Июнь, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Июль, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Август, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Сентябрь, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Октябрь, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item
          span Декабрь, 2023
          img(src=require('media/static/icons/arrow/arrow_short.svg'))
        li.building-summary__month-list__item.building-summary__month-list_more
          label(for="month-list__all-show")  показать ещё
          img(src=require('media/static/icons/plus/plus_blue.svg'))

    .docs.container_left
      .title.title_gray
        span документы
      div.docs__list__wrapper
        ul.docs__list
          each i in Array(8)
            li.docs__item
              .docs__item__title Градостроительный план земельного участка
              .docs__item__bottom
                span PDF / 15 Мб
                .docs__item__download-button
                  img(src=require('media/static/icons/download.svg'))
  .next-project
    .next-project__wrapper
      p следующий проект
      img(src=require('media/static/icons/arrow/arrow_very_long.svg'))
      p жк меридиан

  include global/components/pageBlocks/filterPopup/template
  //- include global/features/popup/template
  //- +popup('gallery-popup', "gallery-popup")
  //-   .button-close.close-btn(data-action="close-popup")
  //-     img(src = require("media/static/icons/close/close_black.svg"))
  //-   .gallery-popup__body
  //-     .gallery-popup__desktop
  //-       .button.arrow-button.arrow-button_left.gallery-popup__left
  //-       .gallery-popup__swiper.swiper: .swiper-wrapper
  //-         each i in Array(4)
  //-           .swiper-slide.gallery-popup__slide
  //-             img(src = require("media/static/builders.webp"))
  //-       .button.arrow-button.gallery-popup__right
  //-     .gallery-popup__mobile
  //-       .gallery-popup__mobile-swiper.swiper: .swiper-wrapper
  //-         each i in Array(4)
  //-           .swiper-slide.gallery-popup__mobile-slide
  //-             img(src = require("media/static/builders.webp")).gallery-popup__mobile-slide-image
  //-             .gallery-popup__mobile-slide-bg
  //-               img(src = require("media/static/builders.webp"))
  //-   .gallery-popup__bottom
  //-     .gallery-popup__title Декабрь
  //-     .gallery-popup__text 1 квартал 2023 / 12 фото
