extends layout/page

block append head
  link(href=require('pages/project/project.scss'), rel='stylesheet')

block append main
  include global/layout/general/header/template
  +header.header_border
  .project-header
    .project-header__content
      ul.breadcrumb
        li.breadcrumb__item главная
        li.breadcrumb__item проекты
        li.breadcrumb__item.breadcrumb__item_active жк волково
      .project-header__bottom
        .project-header__title жк волково
        .project-header__actions
          .button.button_white сайт проекта
            img(src=require('media/static/icons/arrow/arrow_short.svg'))
          .project-header__actions__item 
            img(src = require("media/static/icons/location.svg"))
            span смотреть на карте
        ul.project-header__list
          li.project-header_address.project-header__list__item краснодар, мкр. Северный, ул. Волкова, 39
          li.project-header_date.project-header__list__item дата сдачи объекта, сентябрь 2023 год
          li.project-header_type.project-header__list__item Жилищный комплекс
          li.project-header_.project-header__list__item.price-badge От 4 600 000 ₽
    .project-header__image 
      img(src = require('media/content/content_4.webp'))
    
  .idea 
    .title.title_gray.idea__subtitle о проекте
    .idea__title ИДЕЯ ПРОЕКТА
    .idea__content 
      .idea__left 
        img(src = require("media/static/project_1.webp"))
      .idea__middle
        img(src = require("media/static/project_2.webp"))
      .idea__right 
        ul.idea__list 
          li.idea__list__item 
            span Стандарт качества
            p Комфорт
          li.idea__list__item 
            span Высота домов
            p 17 этажей
          li.idea__list__item 
            span Количество домов
            p 5 домов
          li.idea__list__item 
            span Количество квартир
            p 852 квартиры
          li.idea__list__item 
            span Площадь квартир
            p 21.59 – 96.76 м²
          li.idea__list__item 
            span Стоимость квартир
            p 2,5 МЛН - 4,5 МЛН ₽
          li.idea__list__item 
            span Доходность жилья
            p 9% годовых
    .container_left.quote
      img(src = require("media/static/icons/quote.svg")).idea__quote
      div
        .quote__title Вдохновляться закатами из окна, дышать чистым воздухом и не терять время на дорогу — это ваша жизнь в ЖК Волкова
  .gallery
    .gallery__title.title.title_white галерея
    .gallery__swiper.swiper: .swiper-wrapper
      each i in Array(5)
        .swiper-slide.gallery__slide 
          img(src = require("media/content/content_9.webp"))
          
    .gallery__page-viewer.page-viewer
      img.page-viewer__left(src=require('media/static/icons/arrow/arrow_small.svg'))
      .page-viewer__content
        svg.page-viewer__progress
          <path id="progress" fill="none" stroke="#fff" stroke-width="2" />
        svg.page-viewer__progress-bg
          <circle cx="65" cy="65" r="63" fill="none" stroke-width="2" stroke="rgba(255, 255, 255, 0.2)"/>
        .page-viewer__page
          span 6
          p 2
      img.page-viewer__right(src=require('media/static/icons/arrow/arrow_small.svg'))
  .location 
    .container_left
      .title.title_white
        span локация
      .div
        .location__title удобная и развитая инфраструктура
    .map
      .map__content
        include global/components/pageBlocks/map/infrastructureList
      .map__view
    .benefits.benefits_white
      .benefits__item
        .benefits__number
          p 2,5
          span тыс. м2
        .benefits__text общая площадь благоустройства комплекса

      .benefits__border

      .benefits__item
        .benefits__number
          p 5
          span домов
        .benefits__text уже сдано в эксплуатацию

      .benefits__border

      .benefits__item
        .benefits__number
          p 79
          span тыс. м2
        .benefits__text общая площадь жилого комплекса
  .offer
    .swiper.offer__swiper: .swiper-wrapper
      each i in Array(4)
        .swiper-slide.offer__slide
          .offer__title почувствуйте удобство
          .offer__text очень любим нашу работу, подходим к ней творчески и делаем её с удовольствием! Вы обязательно это почувствуете, доверив нам обстановку вашего дома
          .offer__image
            img(src=require('media/content/content_10.webp'))
    .offer__pagination
block append scripts
  script(src=require('pages/project/project.ts'))
